version: '3.8'

networks:
  backend:

services:
  ### --- MS SQL for Customer ---
  customerdb:
    container_name: customerdb
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=yourStrong(!)Password
    networks:
      - backend
    ports:
      - "1434:1433"

  customerwebapi:
    container_name: customerwebapi
    image: ${DOCKER_REGISTRY-}customerwebapi
    build:
      context: .
      dockerfile: CustomerWebApi/Dockerfile
    environment:
      - DB_HOST=customerdb
      - DB_NAME=CustomerDb
      - DB_SA_PASSWORD=yourStrong(!)Password
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
       - RABBITMQ_EXCHANGE=order.exchange
      - RABBITMQ_ROUTINGKEY=order.created 
    networks:
      - backend

  ### --- MySQL for Product ---
  productdb:
    container_name: productdb
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=yourStrong(!)Password
      - MYSQL_DATABASE=ProductDb
    networks:
      - backend
    ports:
      - "3307:3306"

  productapi:
    container_name: productapi
    image: ${DOCKER_REGISTRY-}productapi
    build:
      context: .
      dockerfile: ProductApi/Dockerfile
    environment:
      - DB_HOST=productdb
      - DB_PORT=3306
      - DB_NAME=ProductDb
      - DB_USER=root
      - DB_PASSWORD=yourStrong(!)Password
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
    networks:
      - backend

  ### --- MongoDB for Order ---
  orderdb:
    container_name: orderdb
    image: mongo:7.0
    volumes:
      - orderdata:/data/db
    networks:
      - backend
    ports:
      - "27018:27017"

  orderapi:
    container_name: orderapi
    image: ${DOCKER_REGISTRY-}orderapi
    build:
      context: .
      dockerfile: OrderApi/Dockerfile
    environment:
      - MONGO_HOST=orderdb
      - MONGO_PORT=27017
      - MONGO_DATABASE=OrderDb
      - CUSTOMER_GRPC_HOST=customerwebapi
      - CUSTOMER_GRPC_PORT=8081
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - RABBITMQ_EXCHANGE=order.exchange
      - RABBITMQ_QUEUE=order.created.queue
      - RABBITMQ_ROUTINGKEY=order.created
    networks:
      - backend

  ### --- RabbitMQ ---
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_EXCHANGE=order.exchange
      - RABBITMQ_QUEUE=order.created.queue
      - RABBITMQ_ROUTINGKEY=order.created
    networks:
      - backend
    ports:
      - "5672:5672"   # Messaging port
      - "15672:15672" # Management UI

  ### --- API Gateway ---
  apigateway:
    container_name: apigateway
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: ApiGateWay/ApiGatWay/Dockerfile
    networks:
      - backend
    ports:
      - "8085:80"

  authapi:
    container_name: authapi
    image: ${DOCKER_REGISTRY-}authapi
    build:
      context: .
      dockerfile: AuthApi/Dockerfile
    networks:
      - backend

volumes:
  orderdata:
